# Archivos generados por Maven
target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties

# Configuración de Maven Wrapper
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Binarios y compilaciones
bin/
*.class
*.jar
*.war
*.ear

# Configuración de IDEs (Eclipse, IntelliJ, NetBeans)
.idea/
*.iml
*.ipr
*.iws
.settings/
.metadata/
nbproject/private/
nbbuild/
dist/
nbdist/

# Datos temporales y archivos específicos de ejecución
data/panasoft-db.tmp
temp/
work/
work/Tomcat/
work/Tomcat/localhost/

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db